.center {
    top: 35%;
    left: 35%;
    position: absolute;
    height: 100%;
    width: 50%;
    color: red;
  }

body {
    background-color: wheat;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
